.row.invoice-header
  .span10
    .row.secondary
      .span5
        .value.left= l Time.now, format: :month_and_year
      .span5
        .value.right Por Pagar
    .row.primary
      .span5
        .value.left TOTAL A PAGAR
      .span5
        .value.right.strong= number_to_currency @billing.total_to_pay