// Place all the styles related to the Eco/Billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  margin: 20px 0 0px;
}
.panel-margin{
	margin-top: 30px;
}
.panel {
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 8px;
	box-shadow: none;
	position: relative;
	line-height: 40px;
	padding-bottom: 20px;
	padding-top: 30px;
	
	.invoice-header {
		.primary {
			color: #5a5a5a;
			font-size: 1.3em;
			font-weight: bold;
		}
		.secondary {
			font-size: 1em;
			line-height: 0px;
		}		
	}

	.thead {
		color: #5a5a5a;
		font-size: 1.1em;
		font-weight: bold;
		margin-top: 30px;
	}

	.page-break {
		border-bottom: 2px solid #d8d8d8;
		margin-bottom: 10px;
	}

	.invoice-body {
		font-size: 1.1em;
		line-height: 30px;
		.strong {
			font-weight: bold;
			color: #5a5a5a;
		}
	}

	.border {
		border-bottom: 1px solid #d8d8d8;
		margin: 0 25px;
	}
	.big {
		font-size: 24px;
	}
	.medium {
		font-size: 16px;
	}

	.description {
		line-height: 15px;
		margin-top: 15px;
	}
	.strong {
		font-weight: bold;		
	}
	.left {
		text-align: left;
		padding-left: 30px;
	}
	.right {
		text-align: right;
		padding-right: 30px;
	}
	.center {
		text-align: center;
	}
}
