.row
  .span10.offset1
    .panel.panel-margin
      .row.invoice-header
        .span10
          .row.secondary
            .span5
              .value.left JULIO 2013
            .span5
              .value.right Por Pagar
          .row.primary
            .span5
              .value.left TOTAL A PAGAR
            .span5
              .value.right.strong $270.000
      .row
        .span10
          .page-break
      .row.thead
        .span3
          .value.left Experiencia
        .span1
          .value.right $Unitario
        .span1
          .value.center Fx Ingreso
        .span1
          .value.center Cantidad
        .span1
          .value.center Ingresos
        .span1
          .value.center Comisión
        .span2
          .value.right $ A Pagar
      .row
        .span10
          .border
      .row
        .accordion-heading          
          .span3
            %a.accordion-toggle{"data-toggle" => "collapse", :href => "#e1"}
              .value.text-value.left Tírate en Paracaídas con Andes Beat
          .span1
            .value.right $13.000
          .span1
            .value.text-value.center Stock Canjeado
          .span1
            .value.center 10
          .span1
            .value.center $130.000
          .span1
            .value.text-value.center $13.000 (10%)
          .span2
            .value.right $117.000
      .row
        .span10
          #e1.accordion-body.collapse
            .accordion-inner
              .subheader
                .row
                  .span3
                    .value.left.strong Detalle Transacciones
                  .span7
                    .subtable
                      .row.thead
                        .span2
                          .value.left Fecha Canje
                        .span3
                          .value.right Código Validación
                      .row
                        .span2
                          .value.left 10 Agosto 2013
                        .span3
                          .value.right A6R824
                      .row
                        .span2
                          .value.left 11 Agosto 2013
                        .span3
                          .value.right Z5R856              
      .row
        .accordion-heading
          .span3
            %a.accordion-toggle{"data-toggle" => "collapse", :href => "#e2"}
              .value.text-value.left Canjea un Masaje Thai en Spa Mund
          .span1
            .value.right $1.000
          .span1
            .value.text-value.center Stock Vendido
          .span1
            .value.center 50
          .span1
            .value.center $50.000
          .span1
            .value.text-value.center $5.000 (10%)
          .span2
            .value.right $45.000
      .row
        .span10
          #e2.accordion-body.collapse
            .accordion-inner
              .subheader
                .row
                  .span3
                    .value.left.strong Detalle Transacciones
                  .span7
                    .subtable
                      .row.thead
                        .span2
                          .value.left Fecha Venta
                        .span3
                          .value.right Stock Vendido
                      .row
                        .span2
                          .value.left 12 Agosto 2013
                        .span3
                          .value.right 50
                      .row
                        .span2
                          .value.left 13 Agosto 2013
                        .span3
                          .value.right 20  
      .row
        .accordion-heading
          .span3
            %a.accordion-toggle{"data-toggle" => "collapse", :href => "#e3"}
              .value.text-value.left Salta en Bungee en Cascada Las Ánimas
          .span1
            .value.right $20.000
          .span1
            .value.text-value.center Stock Validado
          .span1
            .value.center 6
          .span1
            .value.center $120.000
          .span1
            .value.text-value.center $12.000 (10%)
          .span2
            .value.right $108.000
      .row
        .span10
          #e3.accordion-body.collapse
            .accordion-inner
              .subheader
                .row
                  .span3
                    .value.left.strong Detalle Transacciones
                  .span7
                    .subtable
                      .row.thead
                        .span2
                          .value.left Fecha Validación
                        .span3
                          .value.right Código Seguridad
                      .row
                        .span2
                          .value.left 16 Agosto 2013
                        .span3
                          .value.right X6Y824
                      .row
                        .span2
                          .value.left 17 Agosto 2013
                        .span3
                          .value.right D5Q856  
      .row
        .span10.panel-margin
          .value.right
            = link_to "Volver a Mis Ingresos", eco_billing_index2_path, class: "btn btn-primary"