.row
  .span10.offset1
    .panel
      = render "eco/widgets/invoice_header"
      .row
        .span10
          .page-break
      = render :partial => "eco/widgets/invoice_summary", :locals => {:experiences => [{:name => "Tírate en Paracaídas con Andes Beat", :income => "$130.000" , :commision => "$13.000 (10%)" , :to_pay => "$117.000"}, {:name => "Canjea un Masaje Thai en Spa Mund", :income => "$50.000" , :commision => "$5.000 (10%)" , :to_pay => "$45.000"}, {:name => "Salta en Bungee en Cascada Las Ánimas", :income => "$120.000" , :commision => "$12.000 (10%)" , :to_pay => "$108.000"}] }

      .row.invoice-header
        .span10
          .row.primary
            .span4
              .value.left Meses Anteriores
      .row
        .span10
          .chart-container
            = high_chart "month_billing", @data
      = render :partial => "eco/widgets/invoice_month_list", :locals => { :months => ["JULIO 2013", "JUNIO 2013", "MAYO 2013",  "ABRIL 2013","MARZO 2013", "FEBRERO 2013", "ENERO 2013", "DICIEMBRE 2012", "NOVIEMBRE 2012", "OCTUBRE 2012", "SEPTIEMBRE 2012", "AGOSTO 2012"]}
