#index2
  .row
    .span10.offset1
      .panel
        .row.invoice-header
          .span10
            .row.secondary
              .span5
                .value.left Mes Actual
              .span5
                .value.right Agosto
            .row.primary
              .span5
                .value.left TOTAL A PAGAR
              .span5
                .value.right.strong $270.000            
        .row
          .span10
            .page-break
        .row.invoice-row
          .span5
          .span2
            .value.right Ingreso
          .span1
            .value.center Comisión
          .span2
            .value.right Total a Pagar
        .row.invoice-row
          .span5
            .value.left Tírate en Paracaídas con Andes Beat
          .span2
            .value.right $130.000
          .span1
            .value.center $13.000
          .span2
            .value.right $117.000
        .row.invoice-row
          .span5
            .value.left Canjea un Masaje Thai en Spa Mund
          .span2
            .value.right $50.000
          .span1
            .value.center $5.000
          .span2
            .value.right $45.000
        .row.invoice-row
          .span5
            .value.left Salta en Bungee en Cascada Las Ánimas
          .span2
            .value.right $120.000
          .span1
            .value.center $12.000
          .span2
            .value.right $108.000
        .row.action-row
          .span5.offset5
            .value.right
              = link_to "Ver Detalle", eco_billing_detail_path, class: "btn btn-primary"
        .row.invoice-header
          .span10
            .row.primary
              .span4
                .value.left Meses Anteriores
        .row
          .span10
            .chart-container
              = high_chart "month_billing", @data
        .row.invoice-row
          .span4
            .value.left
              %a JULIO 2013
          .span2
            .value.center Por Pagar
          .span4
            .value.right $280.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a JUNIO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $210.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a MAYO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $250.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a ABRIL 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $350.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a MARZO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $280.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a FEBRERO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $180.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a ENERO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $200.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a DICIEMBRE 2012
          .span2
            .value.center Pagado
          .span4
            .value.right $150.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a NOVIEMBRE 2012
          .span2
            .value.center Pagado
          .span4
            .value.right $120.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a OCTUBRE 2012
          .span2
            .value.center Pagado
          .span4
            .value.right $100.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a SEPTIEMBRE 2012
          .span2
            .value.center Pagado
          .span4
            .value.right $70.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left
              %a AGOSTO 2012
          .span2
            .value.center Pagado
          .span4
            .value.right $50.000
        .row.action-row
          .span5.offset5
            .value.right
              .pagination
                %ul
                  %li
                    %a &laquo;
                  %li
                    %a 1
                  %li
                    %a 2
                  %li
                    %a 3
                  %li
                    %a 4
                  %li
                    %a &raquo;
