.row
  .span10.offset1
    .panel
      = render "eco/widgets/invoice_header"
      .row
        .span10
          .page-break
      = render partial: "eco/widgets/invoice_summary", locals: { experiences: @billing.income_by_experience }

      .row.invoice-header
        .span10
          .row.primary
            .span4
              .value.left Meses Anteriores
              
      - if @billing.historical.empty?
        .row.invoice-header
          .span10
            .row.primary
              .span10
                .empty No existen datos históricos de facturación.
      - else
        .row
          .span10
            .chart-container
              = high_chart "month_billing", @data
        = render partial: "eco/widgets/invoice_month_list", locals: { months: ["JULIO 2013", "JUNIO 2013", "MAYO 2013",  "ABRIL 2013","MARZO 2013", "FEBRERO 2013", "ENERO 2013", "DICIEMBRE 2012", "NOVIEMBRE 2012", "OCTUBRE 2012", "SEPTIEMBRE 2012", "AGOSTO 2012"]}