.page-header
  %h1= "Mis Ingresos"
.row        
  .span7
    .panel
      .row.invoice-header
        .span7
          .row.secondary
            .span4
              .value.left Mes Actual
            .span3
              .value.right Agosto
          .row.primary
            .span4
              .value.left TOTAL INGRESOS
            .span3
              .value.right $300.000
      .row
        .span7.page-break
      .row.invoice-body
        .span4
          .value.left.strong Tírate en Paracaídas con Andes Beat
        .span3
          .value.right.strong $130.000
      .row.invoice-body
        .span4
          .value.left.strong Canjea un Masaje Thai en Spa Mund
        .span3
          .value.right.strong $50.000
      .row.invoice-body
        .span4
          .value.left.strong Salta en Bungee en Cascada Las Ánimas
        .span3
          .value.right.strong $120.000
      .row
        .span3.offset4
          .value.right
            = link_to "Ver Detalle", eco_billing_detail_path, class: "btn btn-primary"
    .panel.panel-margin
      .row.invoice-header
        .span7
          .row.primary
            .span4
              .value.left Meses Anteriores
      .row.invoice-body
        .span3
          .value.left.strong
            %a JULIO 2013
        .span2
          .value.center.strong Por Pagar
        .span2
          .value.right.strong $280.000
      .row
        .span7
          .border
      .row.invoice-body
        .span3
          .value.left.strong 
            %a JUNIO 2013
        .span2
          .value.center.strong Pagado
        .span2
          .value.right.strong $210.000
      .row
        .span7
          .border
      .row.invoice-body
        .span3
          .value.left.strong 
            %a MAYO 2013
        .span2
          .value.center.strong Pagado
        .span2
          .value.right.strong $250.000
      .row
        .span7
          .border
      .row.invoice-body
        .span3
          .value.left.strong 
            %a ABRIL 2013
        .span2
          .value.center.strong Pagado
        .span2
          .value.right.strong $350.000
      .row
        .span7
          .border
      .row.invoice-body
        .span3
          .value.left.strong 
            %a MARZO 2013
        .span2
          .value.center.strong Pagado
        .span2
          .value.right.strong $150.000
      .row
        .span3
          .value.left
            %button.btn.btn-primary{:type => "button"} Ver Más
  .span5
    .panel
      .row
        .span5
          = high_chart "month_billing", @data
