#index2
  .row       
    .span10.offset1
      .panel
        .row.invoice-header
          .span10
            .row.secondary
              .span5
                .value.left Mes Actual
              .span5
                .value.right Agosto
            .row.primary
              .span5
                .value.left TOTAL INGRESOS
              .span5
                .value.right.strong $300.000
        .row
          .span10.page-break
        .row.invoice-row
          .span5
            .value.left Tírate en Paracaídas con Andes Beat
          .span5
            .value.right $130.000
        .row.invoice-row
          .span5
            .value.left Canjea un Masaje Thai en Spa Mund
          .span5
            .value.right $50.000
        .row.invoice-row
          .span5
            .value.left Salta en Bungee en Cascada Las Ánimas
          .span5
            .value.right $120.000
        .row.action-row
          .span5.offset5
            .value.right
              = link_to "Ver Detalle", eco_billing_detail_path, class: "btn btn-primary"
        .row
          .span10
            .chart-container
              = high_chart "month_billing", @data
        .row.invoice-header
          .span10
            .row.primary
              .span4
                .value.left Meses Anteriores
        .row.invoice-row
          .span4
            .value.left
              %a JULIO 2013
          .span2
            .value.center Por Pagar
          .span4
            .value.right $280.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left 
              %a JUNIO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $210.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left 
              %a MAYO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $250.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left 
              %a ABRIL 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $350.000
        .row
          .span10
            .border
        .row.invoice-row
          .span4
            .value.left 
              %a MARZO 2013
          .span2
            .value.center Pagado
          .span4
            .value.right $150.000
        .row.action-row
          .span4
            .value.left
              %button.btn.btn-primary{:type => "button"} Ver Más