.panel.span12.filters.tabbable
	%ul.nav.nav-pills
		%li.filter.active
			%a{ href: "#"}
				%span.title Por Revisar
				%span.count ( #{stats[:for_review]} )
		%li.filter
			%a{ href: "#"}
				%span.title Publicadas
				%span.count ( #{stats[:published]} )
		%li.filter
			%a{ href: "#"}
				%span.title Cerradas
				%span.count ( #{stats[:closed]} )
	%span.search-box
		%input{placeholder: "Ingrese palabras claves", type: "text"}
			%button.btn{type: "button"} Buscar