.row-fluid
  
//Depliega las experiencias.
- i = 0
- while i < @experiences.count do
  .row-fluid
    = render 'experience', experience: @experiences[i]
    - i += 1
    - if i < @experiences.count
      = render 'experience', experience: @experiences[i]
      - i += 1
    - if i < @experiences.count
      = render 'experience', experience: @experiences[i]
      - i += 1
   
