.experience .blue{
  background: image-url("textura_azul_bg.jpg") repeat scroll 0 0 transparent;
}
.experience .black{
  background: image-url("textura_negra_bg.jpg") repeat scroll 0 0 transparent;
}
.experience .purple{
  background: image-url("textura_mora_bg.jpg") repeat scroll 0 0 transparent;
}
.experience .red{
  background: image-url("textura_roja_bg.jpg") repeat scroll 0 0 transparent;
}
.experience .orange{
  background: image-url("textura_naranja_bg.jpg") repeat scroll 0 0 transparent;
}
.experience .green{
  background: image-url("textura_verde_bg.jpg") repeat scroll 0 0 transparent;
}

.filterCatergory ul.nav.pull-left i{
  float: left;
  width: 15px;
  margin: 6px 0 0 3px;
}