// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dn{
  display: none;
}

.wellGray{
  background-color: #e6e6e6;
  border: none;
  margin-bottom: 10px;
  min-height: 100px;
}