.row
  .span10.offset1
    .panel
      = render "eco/widgets/invoice_header"
      .row
        .span10
          .page-break
      = render partial: "eco/widgets/invoice_summary", locals: { experiences: @billing.by_experience }

      .row.invoice-header
        .span10
          .row.primary
            .span4
              .value.left Meses Anteriores
              
      - if @billing.invoices.empty?
        .row.invoice-header
          .span10
            .row.primary
              .span10
                .empty No existen datos históricos de facturación.
      - else
        .row
          .span10
            .chart-container
              = high_chart "month_billing", @data
        = render partial: "eco/widgets/invoice_month_list", locals: { invoices: @billing.invoices }