.row  {
	.experience-box-first {
		margin-left: 0;
	}
	.experience-box {
		padding-top: 0px;
		padding-bottom: 20px;
		width: 370px;

		.title {
			color: #5a5a5a;
			background-color: white;
			text-align: center;
			width: 346px;
			font-size: 14px;
			line-height: 20px;
			min-height: 40px;
			vertical-align: middle;
			margin: 14px 0;
		}
		.image {}
		.stats {
			margin-top: 10px;
			text-align: center;

			.stat {				
				padding: 0 24px;
				display: inline;

				i {
					font-size: 30px;
					color: #f39c12;
					margin-right: 5px;
				}
				.indicator {					
					font-size: 24px;
				}
			}			
			.purchases { }
			.swaps { }
			.validations { }
		}
		.validation-box {
			text-align: center;
			padding-top: 12px;

			input {
				text-align: center;
				margin-top: 10px;
			}
			.btn-success {
				background-color:#27ae60;
				padding: 5px 28px;
			}
		}
	}
}